header{
    background: #668284;
    height: 60px;
    color: white;
    padding: 0 10px;
    border-radius: 10px;
}
.esquerda{
    float: left;
}

.direita{
    float: right;
}


img {
    vertical-align: top;
    max-width: 100%;
}
aside{
    background: gray;
    height: 600px;
    width: 20%;
    float: left;
    border-radius: 10px;
}
main{
    background: pink;
    height: 600px;
    width: 80%;
    float: right;
    border-radius: 10px;
}
section{
    border: 1px solid white;
    min-height: 100 px;
    display: inline-block;
    margin: 0 16px;
    width: 100%;
}
footer{
    background: gray;
    height: 60px;
    text-align: center;
    border-radius: 10px;
    clear: both;
}
body{
    font-family: "Times new Roman", Times, serif;
}
header, nav, main{
    margin-bottom: 10px;
}